:root {
  --primaryColor: #fff;
  --secondaryColor: #00213a;
  --tertiaryColor: #a120dc;
  --playerXColor: #e74c3c;
  --playerOColor: #3498db;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--secondaryColor);
}

header {
  height: auto;
}

main {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

main:has(div.board) {
  flex-grow: 1;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 1.5rem 0;
  text-shadow: 5px 0px 0px var(--tertiaryColor);
  font-size: clamp(2.8rem, 6vw, 4.7rem);
  text-align: center;
  letter-spacing: 0.9px;
  color: var(--primaryColor);
  opacity: 0;
  animation: fadeIn 3s ease forwards;

 
}

@keyframes fadeIn {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;

  }
}

header {
  border-bottom: solid 2px var(--tertiaryColor);
}

input {
  display: block;
  border-radius: 2rem;
  max-width: 300px;
  padding: 0.5rem;
  width: 100%;
  border: solid var(--tertiaryColor);
}

label {
  font-size: 20px;
  color: var(--secondaryColor);
}

form {
  background-color: var(--primaryColor);
  max-width: 800px;
  width: 100%;
  margin: 4rem auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 20px 15px 0 6px var(--tertiaryColor);
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 3s ease forwards ;
}

button {
  background: var(--tertiaryColor);
  color: var(--primaryColor);
}

button:hover {
  background-color: #5f0787;
  transition-duration: 400ms;
}

button:active {
  background-color: var(--secondaryColor);
  transition-duration: 400ms;
}

.text-button {
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  pointer-events: none;
}

.board[data-result='Started'][data-can-play='true'] {
  background-color: red;
  pointer-events: all;
}

.square {
  width: min(200px, 25vw);
  height: min(200px, 25vw);
  border-right: solid var(--primaryColor) 3px;
  border-bottom: solid var(--primaryColor) 3px;
}

.square:nth-child(3n) {
  border-right: none;
}

.square:nth-child(6) ~ .square {
  border-bottom: none;
}

.square img {
  width: 90%;
  height: 90%;
}

.square:has(img) {
  pointer-events: none;
}

.square:hover[data-player='O'] {
  background-image: url('../assets/hover-circle.png');
  background-size: cover;
}

.square:hover[data-player='X'] {
  background-image: url('../assets/hover-cross.png');
  background-size: cover;
}
