:root {
  --primaryColor: #fff;
  --secondaryColor: #00213a;
  --tertiaryColor: #a120dc;
  --playerXColor: #e74c3c;
  --playerOColor: #3498db;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--secondaryColor);
}

header {
  height: auto;
}

main {
  flex-grow: 1;
  display: flex;
  margin: 0;

  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 1.5rem 0;
  text-shadow: 5px 0px 0px var(--tertiaryColor);
  font-size: 86px;
  text-align: center;
  letter-spacing: 0.9px;
  color: var(--primaryColor);
}

header {
  border-bottom: solid 2px var(--tertiaryColor);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}

.square {
  width: min(200px, 25vw);
  height: min(200px, 25vw);
  border-right: solid var(--primaryColor) 3px;
  border-bottom: solid var(--primaryColor) 3px;
}

.square:nth-child(3n) {
  border-right: none;
}

.square:nth-child(6) ~ .square {
  border-bottom: none;
}

.square img {
  width: 90%;
  height: 90%;
}

.square:has(img) {
  pointer-events: none;
}

.square:hover[data-player='O'] {
  background-image: url('../assets/hover-circle.png');
  background-size: cover;
}

.square:hover[data-player='X'] {
  background-image: url('../assets/hover-cross.png');
  background-size: cover;
}
